
<div class="step_cont">
    <div class="step" (click)="setStep(1)"> <i class="glyphicon glyphicon-folder-open item"></i></div>
    <div class="step"(click)="setStep(2)"><i class="glyphicon glyphicon-pencil item"></i></div>
    <div class="step"(click)="setStep(3)"><i class="glyphicon glyphicon-picture item"></i></div>
    <div class="step"(click)="setStep(4)"><i class="glyphicon glyphicon-ok item"></i></div>
</div>
<div *ngIf="expanded">
    <ng-content></ng-content>
  </div>

  <div class="but_div">
  <ng-container *ngIf="commonservice.currStep>1">
    <button class="sc_button" (click)="prev()">Previous</button>
  </ng-container>
  <ng-container *ngIf="commonservice.currStep!=4">
    <button class="sc_button" (click)="next()">Save and continue</button>
  </ng-container>
</div>